<!DOCTYPE html>
<html lang="zh-cn">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
<meta name="renderer" content="webkit">
<title></title>
<link rel="stylesheet" href="__PUBLIC__/Admin/css/pintuer.css">
<link rel="stylesheet" href="__PUBLIC__/Admin/css/admin.css">
<script src="__PUBLIC__/Admin/js/jquery.js"></script>   
<script src="__PUBLIC__/Admin/js/pintuer.js"></script>
<script type="text/javascript" charset="utf-8" src="__PUBLIC__/datepicker/jquery-1.7.2.min.js"></script>
</head>
<body>
<div class="panel admin-panel">
  <div class="panel-head" id="add"><strong><span class="icon-pencil-square-o"></span>增加属性</strong></div>
  <div class="body-content">
    <form method="post" class="form-x" action="">  
      <div class="form-group">
        <div class="label">
          <label>所在的类型的id：</label>
        </div> 
        <div class="field">
            <select name="type_id" class="input w50" onchange="location.href='__ACTION__/type_id/'+this.value;" >
              <option value="0">选择类型</option>
              <?php foreach($typeData as $k=>$v):
                  if($v['id']==$type_id){
                      $select='selected="selected"';
                  }
                  else{
                      $select='';
                  }
              ?>
              <option {$select} value="{$v.id}">{$v.type_name}</option>
            <?php endforeach;?>
            </select>
          <div class="tips" title=""></div>
        </div>
      </div>
      <div class="form-group">
        <div class="label">
          <label>属性名称：</label>
        </div>
        <div class="field">
          <input type="text" class="input w50" value="" name="attr_name" data-validate="required:请输属性名称" />
          <div class="tips"></div>
        </div>

      </div>
      <div class="form-group">
          <div class="label">
            <label>是否类型：</label>
          </div>
          <div class="field" style="padding-top:8px;"> 
            唯一 <input id="ishome" name="attr_type" value="0" checked="checked" type="radio">
            可选 <input id="isvouch" name="attr_type" value="1" type="radio">
          </div>
      </div>
      <div class="form-group">
            <div class="label">
              <label>属性可选值：</label>
            </div>
            <div class="field">
              <textarea name="attr_option_values" class="input" style="height:120px;"></textarea>
              <div class="tips"></div>
            </div>
      </div>
      <div class="form-group">
        <div class="label">
          <label></label>
        </div>
        <div class="field">
          <button class="button bg-main icon-check-square-o" type="submit"> 提交</button>
        </div>
      </div>
    </form>
  </div>
</div>

</body></html>
<script type="text/javascript">
// 为所有的选择框绑定点击事件
$(":checkbox").click(function(){
  // 先取出当前权限的level值是多少
  var cur_level = $(this).attr("level");
  // 判断是选中还是取消
  if($(this).attr("checked"))
  {
    var tmplevel = cur_level; // 给一个临时的变量后面要进行减操作
    // 先取出这个复选框所有前面的复选框
    var allprev = $(this).prevAll(":checkbox");
    // 循环每一个前面的复选框判断是不是上级的
    $(allprev).each(function(k,v){
      // 判断是不是上级的权限
      if($(v).attr("level") < tmplevel)
      {
        tmplevel--; // 再向上提一级
        $(v).attr("checked", "checked");
      }
    });
    // 所有子权限也选中
    // 先取出这个复选框所有前面的复选框
    var allprev = $(this).nextAll(":checkbox");
    // 循环每一个前面的复选框判断是不是上级的
    $(allprev).each(function(k,v){
      // 判断是不是上级的权限
      if($(v).attr("level") > cur_level)
        $(v).attr("checked", "checked");
      else
        return false;   // 遇到一个平级的权限就停止循环后面的不用再判断了
    });
  }
  else
  {
    // 先取出这个复选框所有前面的复选框
    var allprev = $(this).nextAll(":checkbox");
    // 循环每一个前面的复选框判断是不是上级的
    $(allprev).each(function(k,v){
      // 判断是不是上级的权限
      if($(v).attr("level") > cur_level)
        $(v).removeAttr("checked");
      else
        return false;   // 遇到一个平级的权限就停止循环后面的不用再判断了
    });
  }
});
</script>