@charset "UTF-8";
.maincontainer {
  max-width: 768px;
  height: auto !important;
  height: 100%;
  margin: 0 auto;
  position: relative;
  padding-bottom: 110px;
}

.wx_wrap {
  position: relative;
  min-height: 375px;
}

.mini-innner {
  max-width: 768px;
}

.container {
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}

.col-xs-1, .col-sm-1, .col-md-1, .col-lg-1, .col-xs-2, .col-sm-2, .col-md-2, .col-lg-2, .col-xs-3, .col-sm-3, .col-md-3, .col-lg-3, .col-xs-4, .col-sm-4, .col-md-4, .col-lg-4, .col-xs-5, .col-sm-5, .col-md-5, .col-lg-5, .col-xs-6, .col-sm-6, .col-md-6, .col-lg-6, .col-xs-7, .col-sm-7, .col-md-7, .col-lg-7, .col-xs-8, .col-sm-8, .col-md-8, .col-lg-8, .col-xs-9, .col-sm-9, .col-md-9, .col-lg-9, .col-xs-10, .col-sm-10, .col-md-10, .col-lg-10, .col-xs-11, .col-sm-11, .col-md-11, .col-lg-11, .col-xs-12, .col-sm-12, .col-md-12, .col-lg-12 {
  position: relative;
  min-height: 1px;
  padding-right: 15px;
  padding-left: 15px;
}

.address_new input {
  height: 20px;
  line-height: normal;
  border: 0 none;
  font-size: 14px;
  width: 100%;
  -webkit-appearance: none;
  vertical-align: top;
  color: #333;
}

.address_new p {
  border-bottom: 1px solid #ddd;
  padding: 10px 20px 10px 100px;
  position: relative;
}

.address_new label {
  display: inline-block;
  max-width: 100%;
  margin-bottom: 5px;
  font-weight: bold;
}

.address_new .tit {
  color: #666;
  width: 80px;
  line-height: 20px;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 5px;
  right: 0;
  margin: auto 0;
  height: 20px;
  padding-right: 20px;
  text-align: right;
  font-size: 14px;
}

.address_new select {
  width: 100%;
  font-size: 14px;
  position: relative;
  height: 35px;
  line-height: 35px;
  -webkit-appearance: none;
  -webkit-border-radius: 0;
  border: 1px solid #ddd;
  padding: 0 16px 0 5px;
  background: #fff;
  -webkit-background-size: 15px 5px;
  background-size: 15px 5px;
}

.address_new .action {
  padding: 15px 0px;
  border-bottom: 0;
}